.form-label-input-field{
    display: flex;
    margin: 3vh;
}

.form-label {
    white-space: nowrap; 
    display: inline-block; 
    min-width: 200px; 
    font-weight: 500;
}

.form-control{
    width: 50vh;
    border-radius: 8vh;
}

.btn-microphone-med-history{
    font-size: larger;
    margin-left: 1vh;
    border-style: hidden;
    border-radius: 30px;
    padding: 0 8px;
    background-color: rgb(209, 209, 209);
}

.btn-microphone-med-history:hover{
    background-color: rgb(165, 164, 164);
    transition: 0.3s ease;
}

.btn-add-record-btn-green{
    color: black;
    border-style: solid;
    border-radius: 30px;
    padding: 5px 15px;
    font-size: 2vh;
    font-weight: 600;
    border-color: rgb(7, 61, 7);
    background-color: rgb(212, 245, 212);
    margin-top: 5vh;
    margin-left: 0vh;
}

.btn-add-record-btn-green:hover{
    border-color: rgb(5, 44, 5);
    background-color: rgb(181, 219, 181);
    transition: 0.3s ease;
}

.btn-add-record-btn-blue{
    color: black;
    border-style: solid;
    background-color: rgb(227, 239, 250);
    border-color: rgb(2, 2, 62);
    border-radius: 30px;
    padding: 5px 15px;
    font-weight: 600;
}

.btn-add-record-btn-blue:hover{ 
    background-color: rgb(185, 202, 218);
    border-color: rgb(3, 3, 44);
    transition: 0.3s ease;
}