body {
    font-family: Arial, Helvetica, sans-serif;
}

.header-main-container {
    padding: 20px 15px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: auto; 
    width: 100%;
  }

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 75%;
    border-style: solid;
    border-radius: 12px;
    border-style: hidden;
    background-color: rgba(240, 248, 255, 0.745);
}

.meditech-logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    padding-left: 30px;
}

.meditech-logo-container img {
    width: auto;
    height: 100px;
    max-width: 100%;
}


.col-2-row-1{
    display: flex;
    justify-content: space-between;
}

.col-2-row-1-col-1{
    padding-right: 20px;
}


.search-bar-container input{
    padding: 1.203vh;
    position: relative;
    width: 60.168vh; 
    height: 4.813vh;
    border-style: solid;
    border-radius: 30px;
    border-color: rgb(2, 2, 39);
  }


.authentication-button-container{
    display: flex;
    justify-content: space-between;
}

.authentication-btn{
    padding-right: 20px;
}

.authentication-btn button{
    border: none;
    cursor: pointer;
    background-color:rgb(1, 8, 66);
    color: white;
    padding: 10px 30px;
    border-radius: 35px;
    font-weight: 500;
}

.authentication-btn button:hover{
    background-color:rgb(40, 48, 123);
    transition: 0.3s ease;
}

.col-2-row-2-menu-container {
    padding-top: 12px;
    display: flex;
    justify-content: flex-end; 
    width: 100%;
  }

  .col-2-row-2-menu-ul{
    padding-right: 25px;
    gap: 30px;
  }

.col-2-row-2-menu-ul{
    list-style: none;
    display: flex;
}

.col-2-row-2-menu-li{
    padding-right: 20px;
}

.col-2-row-2-menu-li a{
    text-decoration: none;
    color: black;
}

.col-2-row-2-menu-li a:hover{
    text-decoration: none;
    color: rgb(29, 20, 125);
}

/* Dropdown style */
.dropdown {
    position: relative;
}

.dropdown-menu-home-page {
    display: none; /* initially hidden */
    position: absolute;
    background-color: white;
    min-width: 180px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    z-index: 1;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Ensures both the hover on the dropdown or menu keeps it visible */
.dropdown:hover .dropdown-menu-home-page {
    display: block;
    opacity: 1;
}

/* Allows the menu to stay visible if hovered over */
.dropdown-menu-home-page:hover {
    display: block;
    opacity: 1;
}

.dropdown-menu-home-page li {
    padding: 12px 16px;
    border-bottom: 1px solid #f0f0f0;
}

.dropdown-menu-home-page li:hover {
    background-color: #f7f7f7;
}

.dropdown a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  